{% extends 'base.html' %}

{% block title %}API Dashboard{% endblock %}

{% block content %}
<h1>Welcome, {{ session['username'] }}</h1>
<a href="{{ url_for('main.new_api') }}">Create New API</a>
<table>
    <tr>
        <th>Name</th>
        <th>Endpoint</th>
        <th>Method</th>
        <th>Actions</th>
    </tr>
    {% for api in apis %}
    <tr>
        
        <td>{{ api.name }}</td>
        <td>{{ api.endpoint }}</td>
        <td>{{ api.method }}</td>
        <td>
            header:<textarea id="w3review" name="w3review" rows="4" cols="50">
                {'Content-Type': 'application/json'}
                </textarea>
                
                
                
                <a href="">Send Request</a>
            <form action="" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
